<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mana">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="com.google.android.setupwizard.SETUP_COMPAT_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature android:glEsVersion="0x00020000" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".ManaApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".main.Schedule"/>
        <activity android:name=".OnFaceTalkSend" />
        <activity android:name=".OnFaceTalkReceive" />
        <activity
            android:name=".ReciveFaceTalk"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:showOnLockScreen="true"
            android:taskAffinity="com.example.mana.ReciveFaceTalk" />
        <activity android:name=".SendFaceTalk" />
        <activity android:name=".PlacePickInfo" />
        <activity android:name=".ZoneAdd" />
        <activity android:name=".NewSubscriptionBox" />
        <activity android:name=".mainPage.IdealProfileLoad" />
        <activity android:name=".Pay_Activity" />
        <activity android:name=".ChargeCredit" />
        <activity android:name=".InsertMyinfoDetail" />
        <activity android:name=".MyIdealTypeSetting" />
        <activity android:name=".shopInfomation.ShopInfomation" />
        <activity android:name=".MyProfileLoad" />

<!--        <meta-data-->
<!--            android:name="com.naver.maps.map.CLIENT_ID"-->
<!--            android:value="@string/naver_id" />-->

        <activity android:name=".main.MapPage" />
        <activity android:name=".main.MyPage" />
        <activity android:name=".chatPage.ChatPage" />
        <activity android:name=".mainPage.MainPage" />
        <activity android:name=".camera.Camera1" />

        <service
            android:name=".MyFirebaseInstanceIDService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".SignupInformationInput" />
        <activity
            android:name=".feature.login.MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="kakao${kakaoLoginToken}" />
            </intent-filter>
        </activity>
        <activity android:name=".signupTermsActivity" />
        <activity
            android:name=".SignupInformationInput"
            tools:ignore="all" />
        <activity
            android:name=".chating.Client"
            android:windowSoftInputMode="adjustResize"

             >
            <intent-filter>
                <action android:name="OPEN_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".chating.Image" />
    </application>

</manifest>